<nz-table
      nzShowSizeChanger
      [nzData]="listOfUser"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="tottalUser"
      [nzPageSize]="10"
      [nzPageIndex]="1"
      #fixedTable
      [nzScroll]="{ x: '', y: '500px' }"
    >
      <thead>
        <tr>
          <th nzColumnKey="name" [nzSortFn]="true">Name</th>
          <th nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">Gender</th>
          <th nzColumnKey="email" [nzSortFn]="true">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfUser">
          <td>{{ data.first_name }} {{ data.last_name }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.email }}</td>
        </tr>
      </tbody>
    </nz-table>
