<div #target>
  <nz-layout class="container space-align-container">
    <ul
      nz-menu
      [nzTheme]="theme ? 'dark' : 'light'"
      nzMode="horizontal"
      class="header-menu"
    >
      <div class="logo"></div>
      <li nz-menu-item nzSelected>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
      <li nz-menu-item>Change theme:</li>
      <p nz-menu-item>change theme</p>
      <nz-switch [(ngModel)]="theme">
        <span checked>Dark</span>
        <span unchecked>Light</span>
      </nz-switch>
    </ul>

    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul
          nz-menu
          nzMode="inline"
          class="sider-menu"
          [nzTheme]="theme ? 'dark' : 'light'"
        >
          <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
            <ul>
              <li nz-menu-item nzSelected>option1</li>
              <li nz-menu-item>option2</li>
              <li nz-menu-item>option3</li>
              <li nz-menu-item>option4</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
            <ul>
              <li nz-menu-item>option5</li>
              <li nz-menu-item>option6</li>
              <li nz-menu-item>option7</li>
              <li nz-menu-item>option8</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
            <ul>
              <li nz-menu-item>option9</li>
              <li nz-menu-item>option10</li>
              <li nz-menu-item>option11</li>
              <li nz-menu-item>option12</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-content>
          <!-- slider -->
          <nz-layout>
            <app-slide-page></app-slide-page>
          </nz-layout>

          <!-- message content -->
          <nz-layout>
            <nz-content>
              <h2 nz-typography>Some one has send a message:</h2>
              <h4 nz-typography>User name: {{ confirmMessData.userName }}</h4>
              <h4 nz-typography>Email:{{ confirmMessData.email }}</h4>
              <h4 nz-typography>Content:{{ confirmMessData.content }}</h4>
            </nz-content>
          </nz-layout>
          <nz-layout>
            <nz-content>
              <app-step-page></app-step-page>
            </nz-content>
          </nz-layout>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
  <div class="toRight">
    <nz-affix [nzOffsetBottom]="nzOffsetBottom">
      <button
        class="mess-btn"
        nz-button
        nzType="text"
        nz-popover
        [nzPopoverTitle]="messPopTitle"
        [(nzPopoverVisible)]="toggle"
        (nzPopoverVisibleChange)="change($event)"
        nzPopoverPlacement="topRight"
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentTemplate"
        (click)="showPopup()"
      >
        <i class="fas fa-envelope-open-text fa-2x"></i>
      </button>
    </nz-affix>
  </div>

  <ng-template #messPopTitle class="poppup" ><div *ngIf="toggleP">
    <h4 nz-typography>Liên hệ với chúng tôi</h4></div>
  </ng-template>

  <ng-template #contentTemplate>
    <div class="poppup">
      <form nz-form [formGroup]="messForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="7">User name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Input is required">
            <input
              nz-input
              formControlName="userName"
              required
              placeholder="Enter a user name"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzAlign="start">Email</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Email is not valid">
            <input
              nz-input
              formControlName="email"
              email
              placeholder="Enter a valid emial"
            />
          </nz-form-control>
        </nz-form-item>
        <hr />
        <nz-form-item>
          <nz-form-label>Content</nz-form-label>
          <textarea
            nz-input
            formControlName="content"
            placeholder="Any thing you want to tell us to improve"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          ></textarea>
        </nz-form-item>
        <div nz-row nzJustify="end">
          <button
            class="submitMess-btn"
            nz-button
            nzType="primary"
            nzShape="round"
            (click)="submitForm()"
            [disabled]="messForm.invalid"
          >
            Submit
          </button>
          <button
            class="discardMess-btn"
            nz-button
            nzType="primary"
            nzShape="round"
            nzDanger
            (click)="clickMe()"
          >
            Discard
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
