.logo {
  width: 120px;
  height: 31px;
  background: rgba(224, 37, 37, 0.466);
  margin: 16px 40px 16px 40px;
  float: left;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 150px;
}
.container{
  height: 200vh;
  font-size: 16px;
}
.scrollable-container {
  height: 100px;
  overflow-y: scroll;
}

.background {
  padding-top: 60px;
  height: 300px;
}
.mess-btn{
  float: right;
  background-color: #00e1ff;
  margin:20px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 1px #000000;
  border-radius: 10px;

}
.mess-btn:hover{
  font-size: 22px;
  width: 60px;
  height: 60px;
  margin: 15px;
  color:#203647;
  background-color:#007CC7;
  box-shadow: 0px 0px 10px 1px #000000;
  border-radius: 15px;
}
.mess-btn:active{
  font-size: 22px;
  width: 60px;
  height: 60px;
  margin: 15px;
  color:#ffffff;
  background-color:#000000;
  box-shadow: 0px 0px 10px 1px #000000;
  border-radius: 15px;
}





