<div class="poppup">
  <form nz-form [formGroup]="messForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="7">User name</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Input is required">
        <input
          nz-input
          formControlName="userName"
          required
          placeholder="Enter a user name"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzAlign="start">Email</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Email is not valid">
        <input
          nz-input
          formControlName="email"
          email
          placeholder="Enter a valid emial"
        />
      </nz-form-control>
    </nz-form-item>
    <hr />
    <nz-form-item>
      <nz-form-label>Content</nz-form-label>
      <textarea
        nz-input
        formControlName="content"
        placeholder="Any thing you want to tell us to improve"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
      ></textarea>
    </nz-form-item>
    <div nz-row nzJustify="end">
      <button
        class="submitMess-btn"
        nz-button
        nzType="primary"
        nzShape="round"
        (click)="submitForm()"
        [disabled]="messForm.invalid"
      >
        Submit
      </button>
      <button
        class="discardMess-btn"
        nz-button
        nzType="primary"
        nzShape="round"
        nzDanger
        (click)="clickMe()"
      >
        Discard
      </button>
    </div>
  </form>
</div>
