<nz-divider></nz-divider>
<div nz-row>
  <div nz-col class="col-left">
    <nz-steps
      nzDirection="vertical"
      [nzCurrent]="index"
      (nzIndexChange)="onIndexChange($event)"
    >
      <nz-step
        nzTitle="Finished"
        nzDescription="This is a description."
      ></nz-step>
      <nz-step
        nzTitle="In Progress"
        nzDescription="This is a description."
      ></nz-step>
      <nz-step
        nzTitle="Waiting"
        nzDescription="This is a description."
      ></nz-step>
    </nz-steps>
  </div>
  <div nz-col class="col-right">
    <div >
      <ng-container [ngTemplateOutlet]="indexTemplate"></ng-container>.
    </div>
  </div>
</div>
<ng-template #step1>
  <p>1111111111</p>
</ng-template>
<ng-template  #step2>
  <p>22222222222</p>
</ng-template>
<ng-template  #step3>
  <p>33333333333</p>
</ng-template>
<!-- <nz-steps [nzCurrent]="current">
  <nz-step nzTitle="Finished"></nz-step>
  <nz-step nzTitle="In Progress"></nz-step>
  <nz-step nzTitle="Waiting"></nz-step>
</nz-steps>

<div class="steps-content">{{ index }}</div>
<div class="steps-action">
  <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
    <span>Previous</span>
  </button>
  <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
    <span>Next</span>
  </button>
  <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
    <span>Done</span>
  </button>
</div> -->
